<div class="hero-unit">
	<h1>welcome to my new site
		<br /><small>there's a lot of construction going on!</small>
	</h1>
	<p>this site has potential, so be patient. don't be so demanding; good things come to those with machine guns and ammo.</p>
</div>

<div class="row">
	<% if (user) { %>
		<p>Welcome back, <%- user %>!</p>
	<% } %>
</div>
		
<div class="row">
    <div class="span8">
        <% if (posts.length > 0) { %>
					<h3><em>and now some posts</em></h3>
					<hr />
          	<% posts.forEach(function (post) { %>
            	<article>
								<h4>
									<%- link_to(post.title, path_to.post(post)) %>
									<small class="pull-right"><%- post.created_at %></small>
								</h4>
								<p><%- post.desc %></p>
							</article>
						<% }); %>
        <% } else { %>
            <p class="alert alert-block alert-info">
                <strong>No posts were found.</strong>
            </p>
        <% } %>
    </div>
		<div class="span4">
			<h3><em>latest comments</em></h3>
			<hr />
			<article>
				<h4>
					<a href="#">Leonard Da Vinci</a>
					<small class="pull-right">09/22/2012 12:24PM</small>
				</h4>
				<p>Dude, this is awesome!</p>
			</article>
		</div>
</div>


