<%- errorMessagesFor(user) %>
<table class="table table-bordered table-striped">
	<caption><h4>Static Fields - Cannot be Edited</h4></caption>
	<tr>
		<th>Display Name</th>
		<td><%- member.displayName %></td>
	</tr><tr>
		<th>Email</th>
		<td><%- member.email %></td>
	</tr>
</table>

